@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffffcc;
  --foreground: #171717;
  --color-gold: #DECE58;
  --hero-image: url('/hero.png');
  --blog-image: url('/blog.png');
  --hero-profile-image: url('/markus-kaluza-tp.png');
  --link-color: #171717;

  --button-bg-color: var(--color-gold);
  --button-text-color: #0a0a0a;
  --border-thin-color: var(--color-gray-300);

  --contact-bg-color: var(--background);
  --contact-text-color: black;

  --alternative-bg-color: rgba(209, 209, 209, 0.38);

  --keyword-text-color: var(--foreground);

  --tag-color: var(--color-gray-200);
  --tag-text-color: var(--foreground);

  --nav-background: #fffffff8;

  --swiper-pagination-bottom: -10px;
  --swiper-navigation-color: var(--color-gold);

  /* Typografische Variablen */
  --font-size-b1: 20px;
  --font-size-b2: 22px;
  --font-size-b3: 26px;
  --line-height-b1: 1.75;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;

  /* Überschriften-Größen */
  --h1: 60px;
  --h2: 39px;
  --h3: 30px;
  --h4: 27px;
  --h5: 23px;
  --h6: 216px;
}

.dark {
  --background: #0a0a0ab4;
  --foreground: #ededed;
  --hero-image: url('/hero-dark.png');
  --link-color: #ffffff;
  --button-text-color: #212121;
  --border-thin-color: var(--color-gray-800);

  --contact-bg-color: var(--background);
  --contact-text-color: white;
  
  --tag-color: var(--color-gray-800);
  --tag-text-color: var(--foreground);

  --keyword-text-color: var(--color-gold);

  --nav-background: #0a0a0aec;

}

.h1-hero {
  @apply mt-2 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold tracking-tight;
}

h2 {
  font-size: var(--h2);
  line-height: 1.14;
}

h3 {
  font-size: var(--h3);
  line-height: 1.14;
}
h4 {
  font-size: var(--h4);
  line-height: 1.25;
}
h5 {
  font-size: var(--h5);
  line-height: 1.24;
}
h6 {
  font-size: var(--h6);
  line-height: 1.25;
}

/* Überschriften */
.blog-article h2,
.blog-article h3,
.blog-article h4,
.blog-article h5,
.blog-article h6 {
  margin-top: 1em;
  margin-bottom: 0.75em;
  line-height: 1em;
}

/* Absätze */
.blog-article p {
  margin-bottom: 1em;
}

/* Bilder (inkl. Zoom-Effekt) */
.zoom-effect {
  transition: transform 0.3s ease;
}
.zoom-effect:hover {
  transform: scale(1.05);
}

.blog-article img {
  transition: transform 0.3s ease;
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}

.blog-article img:hover {
  transform: scale(1.05);
}

/* Tabellen */
.blog-article table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 0.9rem;
}
.blog-article th,
.blog-article td {
  border: 1px solid #ddd;
  padding: 0.75em;
  text-align: left;
}
.blog-article th {
  background-color: #f9f9f9;
  font-weight: 600;
}

/* Listen */
.blog-article ul,
.blog-article ol {
  margin: 1em 0 1em 1.5em;
  padding-left: 0.5em;
}

.blog-article li {
  margin-bottom: 0.2em;
}

/* Blockquotes */
.blog-article blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  margin: 1em 0;
  font-style: italic;
  color: #555;
  background-color: #f9f9f9;
}

/* Codeblöcke */
.blog-article pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 1em;
  overflow-x: auto;
  border-radius: 0.5rem;
  margin: 1em 0;
}
.blog-article code {
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 0.3rem;
  font-family: "Courier New", Courier, monospace;
}

/* Horizontale Trennlinie */
.blog-article hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 2em 0;
}

.blog-article img{
  margin: 15px
}

.h1-header {
  @apply text-base md:text-lg font-semibold uppercase text-center text-(--foreground);
}

.action-button {
  @apply mt-8 inline-flex items-center px-10 py-4 text-lg font-semibold rounded-full shadow-md transition-colors duration-300 bg-(--button-bg-color) text-(--button-text-color);
}

.contact-button {
  @apply mt-4 w-full font-semibold py-3 rounded bg-(--button-bg-color) text-(--button-text-color) shadow;
}

.team-member-box {
  @apply p-6 shadow-md rounded-lg text-center border-solid border-1 border-(--border-thin-color) rounded-lg w-1206 sm:w-70 xl:w-80 duration-300 hover:-translate-y-2;
}

.section-border-b{
  @apply border-b-5 border-gray-500 border-dotted
}

.section-border-t{
  @apply border-t-5 border-gray-500 border-dotted
}


.swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal{
  margin-top: 50px;
}

.swiper-pagination-bullet {
  background-color: var(--foreground) !important;
}

.swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal{
  margin-top: 50px;
}


.swiper-pagination-bullet-active {
  background-color: var(--foreground) !important;
}

/* Basis-Stile für den Body */
body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  font-family: var(--font-primary);
}

/* Globale Stile für Absätze */
p {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
}

.text-gold {
  color: var(--color-gold) !important;
}

.hover\:text-gold:hover {
  color: var(--color-gold) !important;
}

/* Globaler Header-Stil */
header {
  background: var(--background);
  color: var(--foreground);
  padding: 1rem rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
